.idea/
build/
dist/
*.egg-info/
*.egg/
eggs/
.pytest_cache/
htmlcov/
chromedriver/
logs/
log/
dbs/

*.py[co]
*.pkl
.coverage
.DS_Store
*.png
*.pstats
*.jl
*.pid
*.log
*.json
*.doc
*.docx
*.xls
*.xlsx
settings_account.py
